.container {
  @apply p-5 flex justify-center items-center;
}

.gridWrapper {
  @apply grid grid-cols-1 gap-2 items-center;
}
.bookContainer {
  @apply flex flex-col  h-full justify-between items-center gap-2 p-5  bg-slate-800;
  @apply lg:flex-row;
  animation: loadItems 0.5s ease-in-out;
  img {
    @apply w-full rounded-sm cursor-pointer;
    @apply md:order-2 lg:w-3/5;
  }

  .flexWrapper {
    @apply w-full;
    @apply md:order-1;
    h1 {
      @apply py-5 text-4xl text-gray-200  text-center;
    }
    p {
      @apply px-3 text-gray-200;
    }

    .difficultyWrapper {
      @apply flex items-center gap-3 mt-5 ml-5;

      h2 {
        @apply text-gray-200 text-2xl underline;
      }
    }
  }
}
@keyframes loadItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
