.container {
  @apply p-5 flex justify-center items-center;
}

.gridWrapper {
  @apply grid grid-cols-1 gap-2 items-center;
  @apply lg:grid-cols-2;
}
.bookContainer {
  @apply flex flex-col h-full items-center gap-2 p-5  bg-slate-800;
  @apply md:flex-row;
  animation: loadItems 0.5s ease-in-out;
  img {
    @apply w-full rounded-sm cursor-pointer;
    @apply md:w-1/2 lg:order-1;
  }

  .flexWrapper {
    h1 {
      @apply py-5 text-3xl text-gray-200  text-center mr-5;
    }
    p {
      @apply px-3 text-gray-200;
    }

    .difficultyWrapper {
      @apply flex justify-between items-center mt-5 mx-8;
      div {
        @apply flex gap-3;
      }
      h2 {
        @apply text-gray-200 text-2xl underline;
      }
    }
  }
}
@keyframes loadItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
