.container {
  @apply w-full h-screen;
  animation: loadPage 0.3s ease-in-out;
}
@keyframes loadPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.buttonWrapper {
  @apply flex flex-col w-full justify-center border-b;
  @apply md:flex-row;
  button {
    @apply px-6 py-2 text-5xl;
    @apply hover:text-yellow-400;
  }
}
