.container {
  @apply flex flex-col justify-center items-center w-full h-full bg-gray-900;
  animation: loadPage 0.5s ease-in-out;
  @apply lg:flex-row lg:h-screen;
}
@keyframes loadPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
